{% extends 'surl/base.html' %}
{% load staticfiles %}

{% block main %}
    <div class="row">
        <img class="logo" src="{% static 'surl/img/ovzlogo.png' %}" alt="">
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form">
                <div class="row">
                    <div class="col-lg-8">
                        <input type="text" class="form-control input-block-level" placeholder="在此输入网址">
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-danger btn-block">生成短网址</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}