{% extends 'surl/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block main %}
    <div class="row">
    <p class="text-center">{% trans 'Total clicks' %}: {{ request.user.profile.count }} ({% trans 'including deleted URLs' %})</p>
        <table class="table table-striped my-table">
            <thead>
            <tr><th>{% trans 'Long URL' %}</th><th>{% trans 'Short URL' %}</th><th>{% trans 'Clicks' %}</th></tr>
            </thead>
            <tbody>
            {% for url in request.user.urls.all %}
                <tr>
                    <td>{{ url.url }}</td>
                    <td>http://{{ request.META.HTTP_HOST }}/{{ url.slug }}</td>
                    <td>{{ url.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer_ext %}
{% endblock %}